@font-face {
    font-family: "Roboto";
    src: url("/app/fonts/700/Roboto-Bold.woff2") format("woff2"),
          url("/app/fonts/700/Roboto-Bold.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    src: url("/app/fonts/400/Roboto-Regular.woff2") format("woff2"),
           url("/app/fonts/400/Roboto-Regular.woff") format("woff");
}



$gray: #546e7a;
$green: #8bc34a;
$red: #e74c3c; 
$black-blue: #263238;
html, ::before, ::after, input {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6,ul,ol,li,p,a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    margin-top: 20px;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.header__box {
    display: flex;
}
.header__help {
    color: $gray;
}
.header__help-btn {
    color: $red;
}
.header__help-phone {
    color: $gray;
    margin-right: 66px;
}
.btn-login {
    color: #fff;
    background: $green;
    padding: 10px 20px 9px;
    border-radius: 4px;
    margin-left: 20px;
}
.btn-register {
    color: #fff;
    background: $red;
    padding: 10px 13px 9px;
    border-radius: 4px;
    margin-left: 5px;
}
.header__bottom {
    background: $black-blue;
}
.menu {
    display: flex;
    padding: 23px 0;
}
.menu-item a {
    color: #fff;
    margin-right: 35px;
}

// --- search ---
.search {
    background: url(../images/dist/search-bg.jpg) no-repeat;
    background-size: cover;
    padding: 150px 0 166px;
    text-align: center;
}
.search__inner {
    color: #fff;
}
.search__inner-title {
    font-size: 48px;
    margin-bottom: 18px;
}
.search__inner-text {
    margin-bottom: 45px;
    font-size: 20px;
}
.search__inner-form {
    max-width: 670px;
    margin: 0 auto;
}
.form {
    position: relative;
}
.form__input {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    padding-left: 24px;
    padding-right: 70px;
    color: $gray;
    box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
}
.form__input::placeholder {
    color: $gray;
    opacity: 0.8;
}
.form__btn {
    border: none;
    background: transparent;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.form__btn:focus {
    outline: none;
}

// --- Prodcut ---
.prodcut {
    // overflow: hidden;
    background: #f4f6f5;
    padding: 110px 0;
}
.container__fluid {
    width: 100%;
    max-width: 97%;
    margin: 0 auto;
}
.prodcut__inner {
    text-align: center;
    margin-bottom: 55px;
}
.prodcut__title {
    color: $black-blue;
    font-size: 34px;
    margin-bottom: 30px;
}
.prodcut__btn {
    font-size: 16px;
    border: none;
    background: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 4px;
    outline: none;
}
.prodcut__btn:focus {
    color: #fff;
    background: $red;
    box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
}

.prodcut__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: hidden;
}
.prodcut__card {
    max-width: 440px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    transition: all 1s ease;
}
.prodcut__card:hover {
    box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);    
}
  
.prodcut__card-link {
    max-width: 440px;
    width: 100%;
}
.prodcut__card-img {
    width: 100%;
}

.prodcut__flex-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 380px;
    margin: 25px auto 14px;
    color: $black-blue;
}
.prodcut__content {
    max-width: 220px;
}
.prodcut__content-title {
    font-size: 16px;
    font-weight: 700;
    color: $black-blue;
    display: block;
    margin-bottom: 3px;
}
.prodcut__content-text {
    color: $green;
    display: block;
}
.prodcut__content-price {
    font-size: 18px;
    font-weight: 700;
}

.author__flex-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #546e7a;
    max-width: 100%;
    margin: 0 auto;
    padding: 17px 30px;
    position: relative;
}
.author__flex-content::before {
    content: "";
    width: 100%;
    border-top: 1px solid #e7ecf2;
    position: absolute;
    top: 0;
    left: 0;
}
.prodcut__content-author {
    display: flex;
    align-items: center;
    max-width: 220px;
}
.author__link {
    margin-right: 10px;
}
.author__img {
    width: 100%;
    max-width: 25px;
    height: 25px;
    max-height: 25px;
    border-radius: 50%;
}
.prodcut__content-name {
    color: #546e7a;
}
.author__numbers {
    color: #000;
}

.Rectangle_54_copy {
    background-color: rgb(255, 255, 255);
    
    position: absolute;
    left: 30px;
    top: 987px;
    width: 442px;
    height: 408px;
    z-index: 470;
}
.prodcut__buttons { 
    color: $black-blue;
    text-align: center;
    margin-top: 40px;
}

.prodcut__buttons-left {
    font-size: 16px;
    border: none;
    background: #fff;
    padding: 15px 20px;
    margin-right: 8px;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    cursor: pointer;
}
.prodcut__buttons-right {
    font-size: 16px;
    border: none;
    background: #fff;
    padding: 15px 20px;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    cursor: pointer;
}
  
// --- Slider ---
.slider {
    margin: 100px 0 120px;
}
.slider__title {
    text-align: center;
    margin-bottom: 50px;
}
.slick-track {
    display: flex;
    justify-content: space-between;
}
.slick-dots {
    display: flex;
    justify-content: center;
}
.slick-dots li {
    margin-right: 6px;
}

.slick-dots li button{
    border: none;
    font-size: 0px;
    height: 16px;
    width: 16px;
    background: #e8e8e8;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.slick-dots .slick-active button {
    background: $green;
}

// start adventeges 

.adventeges {
    color: #fff;
    background: $black-blue;
    padding: 100px 0;
}
.prodcut__title.adventeges__title {
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
}
.adventeges__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adventeges__item {
    max-width: 323px;
    text-align: center;
}
.adventeges__item-icon {
    width: 100px;
    height: 100px;
    background: #fff;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
}
.adventeges__item-icon svg {
    transition: all 0.5s ease;
}
#Capa_1 {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}
#Layer_1 {
    width: 60px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Capa_2 {
    width: 70px;
    height: auto;
    position: absolute;
    padding-top: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.adventeges__item:hover .adventeges__item-icon svg {
    fill: $green;
}
.adventeges__item:hover .adventeges__item-title {
    color: $green;
}

.adventeges__item-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.adventeges__item-text {
    opacity: 0.6;
    line-height: 1.6em;
}

// end. adventeges


// start author

.author {
    background: url(../images/src/autor-bg.jpg) no-repeat center;
    width: 100%;
    background-size: cover;
    min-height: 750px;
    position: relative;
}
.author__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 536px;
    background: $green;
    padding: 60px 55px 80px 60px;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 3%);
}
.author__title {
    font-size: 26px;
    color: #fff;
    max-width: 240px;
}
.author__title span {
    font-weight: 700;
}
// .author__link {
//     font-size: 16px;
//     color: $black-blue;
// }
.author__link a{
    font-size: 16px;
    color: $black-blue;
    background: #fff;
    padding: 20px 40px;
    font-weight: 700;
}
// end. author


// start work
.work {
    margin: 60px 0 120px;
}
.prodcut__title.work__title {
    text-align: center;
}
.work__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.work__inner-item {
    max-width: 370px;
    background: #f8f8f8;
}
.work-img {
    width: 100%;
}
.work__inner-title {
    font-size: 16px;
    font-weight: 700;
    color: $black-blue;
    text-align: center;
    padding: 25px 0 20px;
}
// end. work